#map {
	height: 700px;
	width: 100%;
	z-index: 50;
}

.btn-existing,
.btn-existing.active,
.btn-existing:hover,
.btn-outline-existing,
.btn-outline-existing:hover {
	border-color: #FFBF00;
}

.btn-existing,
.btn-existing.active,
.btn-existing:hover,
.btn-outline-existing:hover {
	color: white;
	background-color: #FFBF00;
}

.btn-outline-existing
{
	color: #022851;
	background: none;
}

.btn-user-defined,
.btn-user-defined.active,
.btn-user-defined:hover,
.btn-outline-user-defined,
.btn-outline-user-defined:hover {
	border-color: #C6007E;
}

.btn-user-defined,
.btn-user-defined.active,
.btn-user-defined:hover,
.btn-outline-user-defined:hover {
	color: white;
	background-color: #C6007E;
}

.btn-outline-user-defined
{
	color: #022851;
	background: none;
}

#map-warning {
	z-index: 1000;
	width:  65%;
	background-color: #022851;
	color: white;
	font-size:  2em;
}
